html {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: "Titillium Web", sans-serif !important;
  color: #636363;
  font-weight: bold;
}

header {
    background-color: teal;
}

header *{
    font-size: 20px;
    color: white;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height */
  height: 50px;
  background-color: #f5f5f5;
}

.container {
  max-width: 600px;
  margin: 40px auto;
}

.box {
  border: teal 3px solid !important;
  border-radius: 15px;
  background-color: beige;
}

#weather-garden-playground {
  border: black 1px solid !important;
}

#weather-garden {
  background-color: teal;
}

#weather-garden-text {
  font-weight: bold;
  color: white;
}

#weather-description {
    text-transform: capitalize;
}

#get-realtime-temp {
  width: 7rem;
  height: 4rem;
  margin-right: 1rem;
}

#playground-temp {
  margin-right: 1rem;
}

#sky, #landscape {
  font-size: 1.5rem;
}

.sky-text {
  font-size: 2rem;
  margin-right: 0.5rem;
}

#sky-select {
  font-size: 1rem;
}